services:
  neo4j:
    image: neo4j:5
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password123
    volumes:
      - neo4j_data:/data
      - ./neo4j_import:/var/lib/neo4j/import

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
    - ./neo4j_import:/import

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
